aiohttp==3.5.4
asgiref==3.2.3
async-timeout==3.0.1
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
discord.py==1.2.5
dj-database-url==0.5.0
django==3.0.2
-e git+git@github.com:jazzband/django-constance.git@b62206da573c1447b79ebc95a430df809672092d#egg=django-constance
django-heroku==0.3.1
django-picklefield==2.0
django-redis-cache==2.1.0
gunicorn==20.0.4
httplib2==0.15.0
idna==2.8
multidict==4.7.4
oauth2==1.9.0.post1
price-parser==0.3.1
psycopg2==2.8.4
pyparsing==2.4.6
pytz==2019.3
redis==3.3.11
requests==2.22.0
six==1.13.0
slackclient==2.5.0
splitwise==1.1.0
sqlparse==0.3.0
toml==0.9.6
urllib3==1.25.7
websockets==6.0
whitenoise==5.0.1
yarl==1.4.2
