<!doctype html>
<html>
<head>
  <title>Taylen | Emoji Network</title>
  <style>
    html, body {
      width: 100vw;
      height: 100vh;
    }

    #network {
      width: 95vw;
      height: 95vh;
      margin: -20px;
    }
  </style>

  <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
  <script type="text/javascript">
    function draw() {
      var nodes = {{ nodes| safe }};
      var edges = {{ edges| safe }};

      var container = document.getElementById('network');
      var data = {
        nodes: nodes,
        edges: edges
      };
      var options = {
        nodes: {
          shape: 'dot',
          size: 16
        },
        edges: {
          width: 0.15,
          smooth: {
            type: 'continuous'
          },
          arrows: {
            from: {
              enabled: true
            }
          }
        },
        layout: {
          improvedLayout: false
        }
      }
      var network = new vis.Network(container, data, options);
    }
  </script>
</head>

<body onload="draw()">
  <div id="network"></div>
</body>

</html>